html, body {
    color: black;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: auto 0;
    color: white;
    line-height: 30px;
    text-align: center !important;
    overflow: auto;
}

.container {
	background-image: url(../images/background2.png);
  	/*background-image: url(../images/background3.png) !important;*/
    background-size: cover !important;
    background-repeat: no-repeat !important;
	width: 100%;
	max-width: 1200px;
	height: 100% !important;
	text-align: center;
	margin: 0 auto;
}

body > .seasons {
	background-image: url(../images/background3.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.card-panel, input {
    background-color: rgba(0,0,0,0);
    width: 100%;

    margin-top: 10%;
}

.card-body {
	text-align: center;
	margin: 1%;
	padding: 0%;
	margin-right: 20%;
	margin-left: 20%;
}

.nfl{
	width: 147px;
	height: 150px;
	margin-bottom: 1%;
}

img{
	width: 101px;
	height: 98px;
	margin-right: 1%;
	margin-left: 1%;
}
